extends layout_admin

block content
    .main.container
        .row
            if messages.info
                .alert.alert-success.alert-dismissable
                    span= messages.info
            if messages.error
                .alert.alert-danger.alert-dismissable
                    span= messages.error
            div
                a.btn.btn-primary(href='#modal', data-toggle='modal') Novo Usuário

            div
                table.table.table-striped
                    thead.thead-dark
                        tr
                            th
                                | #
                            th
                                | Nome
                            th
                                | Nota média
                    tbody
                        if messages.msg_error
                            | !{messages.msg_error}
                        else
                            for row in users
                                tr
                                    td #{row.id}
                                    td #{row.nome}
                                    td #{row.nota_media}

            div#modal.modal.fade
                div.modal-dialog
                    div.modal-content
                        div.modal-header
                            h3 Cadastre um novo usuário
                        div.modal-body
                            form(method='POST' action='/admin/users/add')
                                div.form-group
                                    label(for='name') Nome:
                                    input#name.form-control(type='text', placeholder='Nome do Usuário' name='nome')
                                button.btn.btn-primary(type='submit') Salvar